# データの生データ
data/raw

# ローカル設定ファイルや.env
.env

# その他
.DS_Store
.ipynb_checkpoints/
node_modules
__pycache__
*.log
logs/

# ビルド生成物
untracked/
dist/
target/

# dbt パッケージ
dbt_packages/

# DuckDB
profiles/.user.yml

# mlflow
mlruns/
